<div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        {% for post in site.upcoming %}
        <p>{{ post.date | date: "%-d %B %Y" }} at {{ post.time }}</p>
        <p>Speaker: {{ post.name }}</p>{% if post.host %}<p>Host: {{ post.host }}</p>{% endif %}
        <p><strong>{{ post.teaser }}</strong></p>
        <p><a href="{{ post.link }}">Details</a>{% if post.register %}| <a href="{{ post.register }}">Register</a>{% endif %}</p>{% else %}
        <p>To be announced.</p>{% endfor %}
        <br>
    </article>
</div>

